.nav {
    background-color: #862F46;
    padding: 30px 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* position: fixed; */
    width: 100%;
}

img {
    height: 50px;
    width: 200px;
}

.nav ul, img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav ul li {
    padding: 5px;
}