.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 30px;
    color: white;
}

.homepage h1 {
    color: white;
    font-size: 60px;
    text-shadow: 0 0 5px rgba(134, 47, 70, 0.5);
}

.homepage h2 {
    font-style: italic;
    font-size: 45px;
    text-shadow: 0 0 5px rgba(134, 47, 70, 0.5);
}

.header {
    /* margin-top: 100px; */
    height: 100%;
    width: 60%;
    padding: 150px;
    text-align: center;
    align-items: center;
    background-image: url('../../assets/dog.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(134, 47, 70, 1);
}

.header h2 {
    /* color: #862F46; */
    text-shadow: 0 0 5px rgba(134, 47, 70, 0.5);
}

.about {
    text-align: center;
    margin: 60px;
    width: 50%;
    height: 50%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 80px;
    border-radius: 10px;
    border: 1px solid #862F46;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px 3px;
    background-image: url('../../assets/19.png');
    background-size: cover;
    background-position: center;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    /* align-items: flex-start; */
    /* background-attachment: fixed; */
    /* background-position: 80%; */
}

/* .about img {
    height: 200px;
    width: 150px;
} */

.about h2 {
    font-size: 55px;
    /* font-style: normal; */
    /* border-bottom: 3px solid #862F46; */
}

.about h3 {
    padding: 60px;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    /* color: #862F46; */
   /*  color: lightcoral; */
    /* text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); */
    /* color: #862F46;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); */
}

.sections {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.section1, .section2, .section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    border: 1px solid #862F46;
    padding: 105px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px 3px;
    /* background-color: #7E9181;  #e3e6e0*/
    background-color: #862F46;
}

.links h2 {
    font-size: 55px;
}
